html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }
a { text-decoration:none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  overflow: auto; }

.hide {
  display: none !important; }

#fullpage {
  margin: 0 auto; }

.page {
  width: 100%;
  height: 100%;
  /* position: absolute;*/ }

.page-inner {
  height: 100%;
  position: relative;
  opacity: 0; }

.animate .page-inner {
  opacity: 1; }

.p-num {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  top: 68.5%;
  vertical-align: top; }

.num-font { font-size: 16px; vertical-align: text-top; }

.vl-t { vertical-align: text-top; }

.p-title-intro-1 {
  font-size: 14px;
  color: #dfdf25;
  text-align: center;
  top: 30%;
  position: absolute;
  left: 0;
  width: 100%; }
 
 .p-title-intro-2 {
  font-size: 16px;
  color: #fc00a0;
  text-align: center;
  top: 28%;
  position: absolute;
  left: 0;
  width: 100%; }

.p-title-intro,
.p-num-intro {
  font-size: 16px;
  color: #dfdf25;
  text-align: center; 
  top: 33%;
  position: absolute;
  left: 0;
  width: 100%; }

.p-num-intro {
  top: 82%;
  color: #dfdf25;
  line-height: 1.5;
  font-size:14px; }

.turn-down {
  position: absolute;
  width: 5%;
  height: auto;
  bottom: 20px;
  left: 47.5%; z-index:20; }



.mod-page_music-box{ position:fixed; top:0; right:0; padding:10px; z-index:99999; width:25px; height:25px; }
.mod-page_music{ background-image:url(../images/music-on.png); width:25px; height:25px; -webkit-background-size:cover; } .mod-page_music_off{ background-image:url(../images/music-off.png); }
/* page1 */
.page1 { background:#d8db60; }
.page2 { background:#0092d7; }
.page3 {  background:#eddd24; }
.page4 {  background:#17202a;  }
.page5 {  background:#e12b85;} 
.page6 {  background:#a1c133;}
.page7 {  background:#f3b53c; }
.page8 {  background:#17487e; }
.page9 {  background:#e12b85; }
.page10 {  background:#d7da5f; }

/*.page1 .page-inner { background: url(../images/p1-01.png) no-repeat;  background-size:100% 100%;}*/
.p1-01 {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
.p1-02 {
  width: 55%;
  height: auto;
  position: absolute;
  top: 10.3333%;
  left: 57%;
  margin-left: -100px;
  z-index: 3
}

.p1-03 {
  width: 52%;
  height: auto;
  position: absolute;
  top: 44.3333%;
  left: 50%;
  margin-left: -100px;
  z-index: 3;
}

.p1-04 {
  width: 52%;
  height: auto;
  position: absolute;
  top: 54.3333%;
  left: 50%;
  margin-left: -100px;
  z-index: 3;
}

.p1-05 {
  width: 26%;
  height: auto;
  position: absolute;
  bottom: 9%;
  left: 50%;
  margin-left: -58px;
  z-index: 3;
}


/* page2 */
.p2-01 {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
.p2-02 {
  width: 100%;
  height: auto;
  position: absolute;
  /* top: 33%; */
  /* left: 50%; */
  /* margin-left: -125px; */
  z-index: 2;
}
.p2-03 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 3%;
  left: 4%;
  /* margin-left: -72px; */
  z-index: 2;
}
.p2-04 {
  width: 47%;
  height: auto;
  position: absolute;
  bottom: 0px;
  /* left: 50%; */
  /* margin-left: -125px; */
  z-index: 5;
}
/* page3 */
.p3-01 {
  width: 69.375%;
  height: auto;
  position: absolute;
  top: 9.77083%;
  left: 11.875%;
  z-index: 2;
}

.p3-02 {
  width: 24%;
  height: auto;
  position: absolute;
  top: 55%;
  left: 5%;
  /* margin-left: -162px; */
  z-index: 2;
}

.p3-03 {
  width: 101%;
  height: auto;
  position: absolute;
  /* top: 34%; */
  bottom: 0px;
  /* left: 50%; */
  /* margin-left: -92px; */
  z-index: 1;
}
.p3-04 {
  width: 50%;
  height: auto;
  position: absolute;
  top: 43%;
  left: 50%;
  margin-left: -102px;
  z-index: 5;
}
.p3-05 {
  width: 34%;
  height: auto;
  position: absolute;
  top: 68%;
  left: 50%;
  margin-left: -79px;
  z-index: 5;
}

.p3-06 {
  width: 50%;
  height: auto;
  position: absolute;
  top: 88%;
  left: 50%;
  margin-left: -102px;
  z-index: 5;
}


/* page4 */
.p4-01 {
  width: 79%;
  height: auto;
  position: absolute;
  /* top: 9.77083%; */
  bottom: 0px;
  left: 11.875%;
  z-index: 2;
}


.p4-02 {
  width: 103%;
  height: auto;
  position: absolute;
  top: 0px;
  left: -1%;
  /* margin-left: -162px; */
  z-index: 2;
}

.p4-03 {
  width: 75%;
  height: auto;
  position: absolute;
  top: 11%;
  left: 50%;
  margin-left: -119px;
  z-index: 2;
}
.p4-04 {
  width: 50%;
  height: auto;
  position: absolute;
  top: 43%;
  left: 50%;
  margin-left: -102px;
  z-index: 5;
}
.p4-05 {
  width: 34%;
  height: auto;
  position: absolute;
  top: 68%;
  left: 50%;
  margin-left: -79px;
  z-index: 5;
}

.p4-06 {
  width: 50%;
  height: auto;
  position: absolute;
  top: 88%;
  left: 50%;
  margin-left: -102px;
  z-index: 5;
}

/* page5 */
.p5-01 {
  width: 97.375%;
  height: auto;
  position: absolute;
  top: 43.77083%;
  /*bottom: 0px;*/
  left: -1.125%;
  z-index: 2;
}

.p5-02 {
  width: 87%;
  height: auto;
  position: absolute;
  top: 19%;
  left: 50%;
  margin-left: -162px;
  z-index: 2;
}

.p5-03 {
  width: 79%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 11%;
  /* margin-left: -92px; */
  z-index: 3;
}
.p5-04 {
  width: 110%;
  height: auto;
  position: absolute;
  /* top: 43%; */
  left: -7%;
  /* margin-left: -102px; */
  z-index: 2;
}
.p5-05 {
  width: 34%;
  height: auto;
  position: absolute;
  top: 68%;
  left: 50%;
  margin-left: -79px;
  z-index: 5;
}

.p5-06 {
  width: 50%;
  height: auto;
  position: absolute;
  top: 88%;
  left: 50%;
  margin-left: -102px;
  z-index: 5;
}
/* page6 */
.p6-01 {
  width: 69.375%;
  height: auto;
  position: absolute;
  top: 40.77083%;
  left: 11.875%;
  z-index: 2;
}

.p6-02 {
  width: 97%;
  height: auto;
  position: absolute;
  top: 0%;
  left: 1%;
  /* margin-left: -162px; */
  z-index: 2;
}

.p6-03 {
  width: 77%;
  height: auto;
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -161px;
  z-index: 2;
}
.p6-04 {
  width: 41%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -99px;
  z-index: 5;
}
.p6-05 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 68%;
  left: 50%;
  margin-left: -171px;
  z-index: 5;
}

.p6-06 {
  width: 88%;
  height: auto;
  position: absolute;
  top: 17%;
  left: 50%;
  margin-left: -167px;
  z-index: 5;
}
/* page7 */
.p7-01 {
  width: 69.375%;
  height: auto;
  position: absolute;
  top: 9.77083%;
  left: 11.875%;
  z-index: 2;
}

.p7-02 {
  width: 87%;
  height: auto;
  position: absolute;
  top: 19%;
  left: 50%;
  margin-left: -162px;
  z-index: 2;
}

.p7-03 {
  width: 85%;
  height: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -161px;
  z-index: 1;
}
.p7-04 {
  width: 58%;
  height: auto;
  position: absolute;
  top: 39%;
  left: 50%;
  margin-left: -119px;
  z-index: 5;
}
.p7-05 {
  width: 59%;
  height: auto;
  position: absolute;
  top: 68%;
  left: 50%;
  margin-left: -120px;
  z-index: 5;
}

.p7-06 {
  width: 88%;
  height: auto;
  position: absolute;
  top: 88%;
  left: 50%;
  margin-left: -167px;
  z-index: 5;
}
/*.pal2{width: 224px; height: 224px; top:-17px; left: -17px;}
.pal3{width: 238px; height: 238px; top:-24px; left: -24px;}*/
.circle-animate .pal1 {
  -webkit-animation: circle-animation 3 0.8s 0s linear both;
  -moz-animation: circle-animation 3 0.8s 0s linear both;
  -ms-animation: circle-animation 3 0.8s 0s linear both;
  animation: circle-animation 3 0.8s 0s linear both; }

.circle-animate .pal2 {
  -webkit-animation: circle-animation 3 0.8s 0.2s linear both;
  -moz-animation: circle-animation 3 0.8s 0.2s linear both;
  -ms-animation: circle-animation 3 0.8s 0.2s linear both;
  animation: circle-animation 3 0.8s 0.2s linear both; }

.circle-animate .pal3 {
  -webkit-animation: circle-animation 3 0.8s 0.4s linear both;
  -moz-animation: circle-animation 3 0.8s 0.4s linear both;
  -ms-animation: circle-animation 3 0.8s 0.4s linear both;
  animation: circle-animation 3 0.8s 0.4s linear both; }

.p8-avator.animate2 {
  -webkit-animation: avatorUp 0.6s linear both;
  -moz-animation: avatorUp 0.6s linear both;
  -ms-animation: avatorUp 0.6s linear both;
  animation: avatorUp 0.6s linear both; }

.p8-avator .p-num-intro {
  top: 124%; }

/* share */
.share-ico-area {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 4px 0 10px 0;
  background: #fff;
  opacity: 0; }

.sia-title {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  height: 20px;
  text-align: center;
  color: #757575; }

.sia-title span {
  display: inline-block;
  font-size: 12px;
  background: #fff;
  padding: 2px 14px;
  background: #fff;
  margin-top: 10px; }

.sia-icos {
  text-align: center;
  margin-top: 20px; }

.sia-ico {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: 50px 50px; }

.sia-weibo {
  background-image: url(../img/ico-weibo.png); }

.sia-miliao {
  background-image: url(../img/ico-miliao.png); }

.sia-qzone {
  background-image: url(../img/ico-qzone.png); }

.sia-weixin {
  background-image: url(../img/ico-weixin.png); }

.share-ico-area.animate2 {
  -webkit-animation: fadeUp2 0.6s linear both;
  -moz-animation: fadeUp2 0.6s linear both;
  -ms-animation: fadeUp2 0.6s linear both;
  animation: fadeUp2 0.6s linear both; }

.share-btn-area {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0; }



@media screen and (min-width: 600px) {
  #fullpage {
    width: 62vh; } }
/* phone lindscape */
@media screen and (min-width: 600px) and (max-width: 800px) {
  .p1-intro-tip {
    font-size: 10px; }

  .p5-num {
    font-size: 20px;
    margin-top: -52px; }

  .p-title-intro {
    font-size: 8px; }

  .p-num {
    font-size: 20px; }

  .p7-circle {
    font-size: 8px; }

  .p7-circle .num {
    font-size: 12px;
    margin-top: -10px; }

  .p-num-intro {
    font-size: 8px; }

  #fullpage {
    width: 62vh; }

  .p8-btn-area {
    width: 120px;
    height: 120px; }


  .p8-btn {
    width: 110px;
    height: auto;
    top: 2px;
    left: 5px; }

  .p8-btn-hover {
    width: 110px;
    height: auto;
    top: 4px;
    left: 4px; }

.p8-btn,
.p8-btn-hover {
  width: 201px;
  height: 210px;
  position: absolute;
  top: 7px;
  left: 16px;
  display: block; }

.p8-btn-hover {
  width: 201px;
  height: 201px;
  top: 16px; }
  
  .p8-btn-shadow {
    width: 120px;
    top: 20px;
    left: 20px; }

  .p8-avator {
    width: 100px;
    height: 100px; }

  .p8-avator-line {
    width: 110px;
    height: 110px;
    left: -7px;
    top: -7px; }

  .sia-title span {
    font-size: 10px; }

  .sia-icos {
    margin-top: 10px; }

  .p8-avator .name {
    font-size: 12px; }

  .p8-avator .intro {
    font-size: 8px; }

  .p8-avator .intro .big {
    font-size: 10px; }

  .sia-ico {
    width: 20px;
    height: 20px;
    background-size: 20px 20px; }

  .sba-data-btn {
    width: 160px;
    height: 31px; } }

/*# sourceMappingURL=main.css.map */


.reg{ position: absolute; left:23%; top: 49.5%; width: 56%; font-size: 14px; color:#fff;  z-index: 10;}
.reg dl dd{ display: block; padding: 5px 0;}

.reg .ipt-text{ padding: 0 5px; width: 100%; height: 30px; line-height: 30px; border:#908d42 solid 1px;  -webkit-appearance: none; appearance: none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-family:"微软雅黑"; text-align:center; background-color: rgba(232, 233,160, 1); color:rgba(62, 58,57, 1);  }
.reg .btn{ margin: 10px auto 0 auto; display: block; width:100%;height: 35px; line-height: 35px; font-family:"微软雅黑"; background:#e12b85; color:#ffffff; text-align: center; }
.fx_btn { width:70.3125%; height:auto; position:absolute; top:0%; left:13%; z-index:9 }
.pp{ display:none;}
.hide{display:none;}
#bmm{ display:none}
.p10-04{width:100%; height:auto; position:absolute; left:0%; top:15% ; z-index:2}
.p10-05{ width:100%; height:100%; position:absolute; left:0%; top:0% ; z-index:1}
