
* { margin: 0; padding: 0;}
body { font: 16px/1.8 "Microsoft Yahei",verdana;}

/* 右侧导航 */
#fullPage-nav { _display: none; font-size: 12px;}
#fullPage-nav li { width: 90px; height: 21px; margin: 10px 0 0; vertical-align: middle;}
/*#fullPage-nav li a { float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(images/dot.png) 5px 5px no-repeat;}*/
#fullPage-nav li .active { background-position: 0 bottom;}
#fullPage-nav span { display: none;}
.fullPage-tooltip { float: left; top: 0; margin-right: 5px; font: 12px "Microsoft Yahei"; color: #8F9DA4; line-height: 21px;}

.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}


.t11{ position: absolute;  left: 0%; top:60%;margin-top: 30px; width: 100%; height: 100%; background: url(../images/one/1.png) no-repeat;
    -webkit-transform:scale(1.5,1.5);  -moz-transform:scale(1.5,1.5);  -transform:scale(1.5,1.5);
}
.t12{ position: absolute;  left: 50%; margin-left:-300px;top:20%; width: 100%; height: 100%;  background: url(../images/one/2.png) no-repeat;
    -webkit-transform:scale(1.3,1.3);  -moz-transform:scale(1.3,1.3);  -transform:scale(1.3,1.3);
}
.active .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}
.active .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.mod-page_music-box{ position:fixed; top:0; right:0; padding:30px; z-index:99999; width:25px; height:25px; }
.mod-page_music{ background-image:url(../images/music-on.png); width:50px; height:50px; -webkit-background-size:cover; }
.mod-page_music_off{ background-image:url(../images/music-on.png); }

.active .imgt21{width: 100%;height: 100%;background-image: url("../images/second/2.jpg");background-repeat: no-repeat;}
.imgt21{width: 100%;height: 100%;background-image: url("../images/second/0.jpg");   background-repeat: no-repeat;}
.t21{ position: absolute;  left: 20%; top:20%;margin-top: 30px; width: 640px; height: 100%;  background: url(../images/second/2.jpg) no-repeat;
    -webkit-transform:scale(1.5,1.5);  -moz-transform:scale(1.5,1.5);  -transform:scale(1.5,1.5);
}
.t22{ position: absolute;  left: 10%; margin-left:100px;top:20%;margin-top: 70px; width: 100%; height: 100%;  background: url(../images/second/3.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}
.t23{ position: absolute;  left: 20%; top:90%;margin-top: 55px; width: 100%; height: 100%;  background: url(../images/second/4.png) no-repeat;
    -webkit-transform:scale(1.3,1.3);  -moz-transform:scale(1.3,1.3);  -transform:scale(1.3,1.3);
}

.t31{ position: absolute;  left: 50%; margin-left:-130px;top:40%;margin-top: -50px; width: 100%; height: 100%;  background: url(../images/third/1.png) no-repeat;
    -webkit-transform:scale(1.5,1.5);  -moz-transform:scale(1.5,1.5);  -transform:scale(1.5,1.5);
}
.t32{ position: absolute;  left: 10%; top:50%; width: 100%; height: 100%;  background: url(../images/third/2.png) no-repeat;
}
.t33{ position: absolute;  left: 50%; margin-left: -300px; top:90%; margin-top: 115px; width: 100%; height: 100%;  background: url(../images/third/3.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}

.t41{ position: absolute;  left: 50%; margin-left: -180px; top:60%; width: 100%; height: 100%;  background: url(../images/four/1.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}
.t42{ position: absolute;  left: 50%; margin-left: -250px; top:20%; width: 100%; height: 100%;  background: url(../images/four/2.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}
.t43{ position: absolute;  left: 50%; margin-left: -150px; top:20%; margin-top: 150px; width: 100%; height: 100%;  background: url(../images/four/3.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}


.t51{ position: absolute;  left: 50%; margin-left: -280px; top:60%; width: 100%; height: 100%;  background: url(../images/five/1.jpg) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}
.t52{ position: absolute;  left: 50%; margin-left: -280px; top:20%; width: 100%; height: 100%;  background: url(../images/five/4.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}
.t53{ position: absolute;  left: 50%; margin-left: -150px; top:20%; margin-top: 150px;  width: 100%; height: 100%;  background: url(../images/five/3.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}

.t61{ position: absolute;  left: 50%;  margin-left: -160px;top:50%;margin-top: 180px; width: 100%; height: 100%;  background: url(../images/six/1.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}
.t62{ position: absolute;  left: 50%;  margin-left: -250px;top:20%;margin-top: 50px; width: 100%; height: 100%;  background: url(../images/six/2.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}
.t63{ position: absolute;  left: 50%;  margin-left: -200px;top:20%; width: 100%; height: 100%;  background: url(../images/six/3.png) no-repeat;
    -webkit-transform:scale(1.2,1.2);  -moz-transform:scale(1.2,1.2);  -transform:scale(1.2,1.2);
}
.t64{ position: absolute;  left: 50%;  margin-left: -65px; top:25%; margin-top: 320px; width: 100%; height: 100%;  background: url(../images/six/4.png) no-repeat;
    -webkit-transform:scale(1.4,1.4);  -moz-transform:scale(1.4,1.4);  -transform:scale(1.4,1.4);
}