
* { margin: 0; padding: 0;}
body { font: 16px/1.8 "Microsoft Yahei",verdana;}

/* 右侧导航 */
#fullPage-nav { _display: none; font-size: 12px;}
#fullPage-nav li { width: 90px; height: 21px; margin: 10px 0 0; vertical-align: middle;}
/*#fullPage-nav li a { float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(images/dot.png) 5px 5px no-repeat;}*/
#fullPage-nav li .active { background-position: 0 bottom;}
#fullPage-nav span { display: none;}
.fullPage-tooltip { float: left; top: 0; margin-right: 5px; font: 12px "Microsoft Yahei"; color: #8F9DA4; line-height: 21px;}

.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}

.section1 .bg {background-size:100% 100%; background: url(../images/one/0.jpg) no-repeat;}
.section2 .bg {background: url(../images/second/0.jpg)no-repeat;}
.section3 .bg {background: url(../images/third/0.jpg)no-repeat;}
.section4 .bg {background: url(../images/four/0.jpg)no-repeat;}
.section5 .bg {background: url(../images/five/0.jpg)no-repeat;}
.section6 .bg {background: url(../images/six/0.jpg)no-repeat;}
.section7 .bg {background: url(../images/seven/0.jpg)no-repeat;}


.mod-page_music-box{ position:fixed; top:0; right:0; padding:30px; z-index:99999; width:25px; height:25px; }
.mod-page_music{ background-image:url(../images/music-on.png); width:50px; height:50px; -webkit-background-size:cover; }
.mod-page_music_off{ background-image:url(../images/music-on.png); }

.arr{position: absolute;left:50%;margin-left: -16px; top: 97%;width:40px;height:100%;background: url(../images/arr.png) no-repeat;z-index: 100}

.t1{ position: absolute;  left: 20%; top:20%; width: 100%; height: 120px; background: url(../images/one/1.png) no-repeat;  }

.t11 { position: absolute; font-size:50px; left: 50%; margin-left: -200px; top:50%; width: 100%; height: 100px; background: url(../images/one/2.png) no-repeat;
    opacity: 0;
    transition: all 1s;
    -moz-transition:  all 1s;	/* Firefox 4 */
    -webkit-transition: all 1s;	/* Safari 和 Chrome */
    -o-transition: all 1s;	/* Opera */
}
.active .t11 { top:50%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.1s;
    -moz-transition-delay: 2.1s; /* Firefox 4 */
    -webkit-transition-delay: 2.1s; /* Safari 和 Chrome */
    -o-transition-delay: 2.1s; /* Opera */
}

.t12 { position: absolute; font-size:50px; left: 50%; margin-left: -200px; top:60%; width: 100%; height: 100px; background: url(../images/one/3.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t12 { top:60%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.2s;
    -moz-transition-delay: 2.2s; /* Firefox 4 */
    -webkit-transition-delay: 2.2s; /* Safari 和 Chrome */
    -o-transition-delay: 2.2s; /* Opera */
}

.t13 { position: absolute;  font-size:50px;  left: 50%; margin-left: -200px; top:70%; width: 100%; height: 100px; background: url(../images/one/4.png) no-repeat;
    opacity: 0;
    transition: all 1.2s;
    -moz-transition:  all 1.2s;	/* Firefox 4 */
    -webkit-transition: all 1.2s;	/* Safari 和 Chrome */
    -o-transition: all 1.2s;	/* Opera */
}
.active .t13 {  top:70%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.3s;
    -moz-transition-delay: 2.3s; /* Firefox 4 */
    -webkit-transition-delay: 2.3s; /* Safari 和 Chrome */
    -o-transition-delay: 2.3s; /* Opera */
}

.t14 { position: absolute;  font-size:50px;  left: 50%; margin-left: -80px; top:90%; width: 100%; height: 100px; background: url(../images/one/5.png) no-repeat;
    opacity: 0;
    transition: all 1.4s;
    -moz-transition:  all 1.4s;	/* Firefox 4 */
    -webkit-transition: all 1.4s;	/* Safari 和 Chrome */
    -o-transition: all 1.4s;	/* Opera */
}
.active .t14 {  top:90%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.5s;
    -moz-transition-delay: 2.5s; /* Firefox 4 */
    -webkit-transition-delay: 2.5s; /* Safari 和 Chrome */
    -o-transition-delay: 2.5s; /* Opera */
}

.t21 { position: absolute; font-size:50px; left: 50%; margin-left: -180px; top:60%; width: 100%; height: 100px; background: url(../images/second/3.png) no-repeat;
    opacity: 0;
    transition: all 1.5s;
    -moz-transition:  all 1.5s;	/* Firefox 4 */
    -webkit-transition: all 1.5s;	/* Safari 和 Chrome */
    -o-transition: all 1.5s;	/* Opera */
}
.active .t21 { top:60%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.1s;
    -moz-transition-delay: 2.1s; /* Firefox 4 */
    -webkit-transition-delay: 2.1s; /* Safari 和 Chrome */
    -o-transition-delay: 2.1s; /* Opera */
}

.t22 { position: absolute; font-size:50px; left: 50%; margin-left: -290px; top:70%; width: 100%; height: 100px; background: url(../images/second/4.png) no-repeat;
    opacity: 0;
    transition: all 2.1s;
    -moz-transition:  all 2.1s;	/* Firefox 4 */
    -webkit-transition: all 2.1s;	/* Safari 和 Chrome */
    -o-transition: all 2.1s;	/* Opera */
}
.active .t22 { top:70%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.8s;
    -moz-transition-delay: 2.8s; /* Firefox 4 */
    -webkit-transition-delay: 2.8s; /* Safari 和 Chrome */
    -o-transition-delay: 2.8s; /* Opera */
}


.t31 { position: absolute; font-size:50px; left: 50%; margin-left: -130px; top:50%; width: 100%; height: 100px; background: url(../images/third/3.png) no-repeat;
    opacity: 0;
    transition: all 1s;
    -moz-transition:  all 1s;	/* Firefox 4 */
    -webkit-transition: all 1s;	/* Safari 和 Chrome */
    -o-transition: all 1s;	/* Opera */
}
.active .t31 { top:40%; margin-top: 10px;
    opacity: 1;
    transition-delay: 2.5s;
    -moz-transition-delay: 2.5s; /* Firefox 4 */
    -webkit-transition-delay: 2.5s; /* Safari 和 Chrome */
    -o-transition-delay: 2.5s; /* Opera */
}

.t32 { position: absolute; font-size:50px; left: 50%; margin-left: -150px; top:50%; width: 100%; height: 100px; background: url(../images/third/4.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t32 { top:50%; margin-top: 10px;
    opacity: 1;
    transition-delay: 2.7s;
    -moz-transition-delay: 2.7s; /* Firefox 4 */
    -webkit-transition-delay: 2.7s; /* Safari 和 Chrome */
    -o-transition-delay: 2.7s; /* Opera */
}

.t33 { position: absolute; font-size:50px; left: 50%; margin-left: -100px; top:70%; width: 100%; height: 100px; background: url(../images/third/5.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t33 { top:70%; margin-top: 10px;
    opacity: 1;
    transition-delay:  3.7s;
    -moz-transition-delay: 3.7s; /* Firefox 4 */
    -webkit-transition-delay: 3.7s; /* Safari 和 Chrome */
    -o-transition-delay: 3.7s; /* Opera */
}

.t41 { position: absolute; font-size:50px; left: 50%; margin-left: -90px; top:40%; width: 100%; height: 100px; background: url(../images/four/3.png) no-repeat;
    opacity: 0;
    transition: all 1s;
    -moz-transition:  all 1s;	/* Firefox 4 */
    -webkit-transition: all 1s;	/* Safari 和 Chrome */
    -o-transition: all 1s;	/* Opera */
}
.active .t41 { top:40%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.5s;
    -moz-transition-delay: 2.5s; /* Firefox 4 */
    -webkit-transition-delay: 2.5s; /* Safari 和 Chrome */
    -o-transition-delay: 2.5s; /* Opera */
}

.t42 { position: absolute; font-size:50px; left: 50%; margin-left: -150px; top:50%; width: 100%; height: 100px; background: url(../images/four/4.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t42 { top:50%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.7s;
    -moz-transition-delay: 2.7s; /* Firefox 4 */
    -webkit-transition-delay: 2.7s; /* Safari 和 Chrome */
    -o-transition-delay: 2.7s; /* Opera */
}

.t43 { position: absolute; font-size:50px; left: 50%; margin-left: -90px; top:70%; width: 100%; height: 100px; background: url(../images/four/5.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t43 { top:70%; margin-top: 10px;
    opacity: 1;
    transition-delay:  3.7s;
    -moz-transition-delay: 3.7s; /* Firefox 4 */
    -webkit-transition-delay: 3.7s; /* Safari 和 Chrome */
    -o-transition-delay: 3.7s; /* Opera */
}


.t51 { position: absolute; font-size:50px; left: 50%; margin-left: -90px; top:40%; width: 100%; height: 100px; background: url(../images/five/3.png) no-repeat;
    opacity: 0; transition: all 1s;
}
.active .t51 { top:40%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.5s;
    -moz-transition-delay: 2.5s; /* Firefox 4 */
    -webkit-transition-delay: 2.5s; /* Safari 和 Chrome */
    -o-transition-delay: 2.5s; /* Opera */
}

.t52 { position: absolute; font-size:50px; left: 50%; margin-left: -140px; top:50%; width: 100%; height: 100px; background: url(../images/five/4.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t52 { top:50%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.7s;
    -moz-transition-delay: 2.7s; /* Firefox 4 */
    -webkit-transition-delay: 2.7s; /* Safari 和 Chrome */
    -o-transition-delay: 2.7s; /* Opera */
}

.t53 { position: absolute; font-size:50px; left: 50%; margin-left: -90px; top:70%; width: 100%; height: 100px; background: url(../images/five/5.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t53 { top:70%; margin-top: 10px;
    opacity: 1;
    transition-delay:  3.7s;
    -moz-transition-delay: 3.7s; /* Firefox 4 */
    -webkit-transition-delay: 3.7s; /* Safari 和 Chrome */
    -o-transition-delay: 3.7s; /* Opera */
}


.t61 { position: absolute; font-size:50px; left: 50%; margin-left: -250px; top:40%; width: 100%; height: 100px; background: url(../images/six/3.png) no-repeat;
    opacity: 0;
    transition: all 1s;
    -moz-transition:  all 1s;	/* Firefox 4 */
    -webkit-transition: all 1s;	/* Safari 和 Chrome */
    -o-transition: all 1s;	/* Opera */
}
.active .t61 { top:40%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.5s;
    -moz-transition-delay: 2.5s; /* Firefox 4 */
    -webkit-transition-delay: 2.5s; /* Safari 和 Chrome */
    -o-transition-delay: 2.5s; /* Opera */
}

.t62 { position: absolute; font-size:50px; left: 50%; margin-left: -280px; top:55%; width: 100%; height: 130px; background: url(../images/six/4.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t62 { top:55%; margin-top: 10px;
    opacity: 1;
    transition-delay:  2.7s;
    -moz-transition-delay: 2.7s; /* Firefox 4 */
    -webkit-transition-delay: 2.7s; /* Safari 和 Chrome */
    -o-transition-delay: 2.7s; /* Opera */
}

.t63 { position: absolute; font-size:50px; left: 50%; margin-left: -280px; top:70%; width: 100%; height: 100px; background: url(../images/six/5.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t63 { top:70%; margin-top: 10px;
    opacity: 1;
    transition-delay:  3.7s;
    -moz-transition-delay: 3.7s; /* Firefox 4 */
    -webkit-transition-delay: 3.7s; /* Safari 和 Chrome */
    -o-transition-delay: 3.7s; /* Opera */
}


.t71 { position: absolute; font-size:50px; left: 50%; margin-left: -280px; top:30%; width: 100%; height: 100px; background: url(../images/seven/1.png) no-repeat; opacity: 0; transition: all 1s;}
.active .t71 { top:15%; margin-top: 60px;
    opacity: 1;
    transition-delay:  1.2s;
    -moz-transition-delay: 1.2s; /* Firefox 4 */
    -webkit-transition-delay: 1.2s; /* Safari 和 Chrome */
    -o-transition-delay: 1.2s; /* Opera */
}

.t72 { position: absolute; font-size:50px; left: 50%; margin-left: -250px; top:35%; width: 100%; height: 100px; background: url(../images/seven/3.png) no-repeat; opacity: 0; transition: all 1s;}
.active .t72 { top:25%; margin-top: 60px;
    opacity: 1;
    transition-delay:  1.2s;
    -moz-transition-delay: 1.2s; /* Firefox 4 */
    -webkit-transition-delay: 1.2s; /* Safari 和 Chrome */
    -o-transition-delay: 1.2s; /* Opera */
}

.t73 { position: absolute; font-size:50px; left: 50%; margin-left: -150px; top:60%; width: 100%; height: 150px; background: url(../images/seven/4.png) no-repeat;
    opacity: 0;
    transition: all 1.4s;
    -moz-transition:  all 1.4s;	/* Firefox 4 */
    -webkit-transition: all 1.4s;	/* Safari 和 Chrome */
    -o-transition: all 1.4s;	/* Opera */
}
.active .t73 { top:45%; margin-top: 60px;opacity: 1;
    transition-delay:  2.2s;
    -moz-transition-delay: 2.2s; /* Firefox 4 */
    -webkit-transition-delay: 2.2s; /* Safari 和 Chrome */
    -o-transition-delay: 2.2s; /* Opera */
}
.t74 { position: absolute; font-size:50px; left: 50%; margin-left: -140px; top:80%; width: 100%; height: 100px; background: url(../images/seven/5.png) no-repeat;
    opacity: 0;
    transition: all 1.9s;
    -moz-transition:  all 1.9s;	/* Firefox 4 */
    -webkit-transition: all 1.9s;	/* Safari 和 Chrome */
    -o-transition: all 1.9s;	/* Opera */
}
.active .t74 { top:65%; margin-top: 60px;opacity: 1;
    transition-delay:  3.7s;
    -moz-transition-delay: 3.7s; /* Firefox 4 */
    -webkit-transition-delay: 3.7s; /* Safari 和 Chrome */
    -o-transition-delay: 3.7s; /* Opera */
}
.t75 { position: absolute; font-size:50px; left: 50%; margin-left: -280px; top:100%; width: 100%; height: 100px; background: url(../images/seven/6.png) no-repeat;
    opacity: 0;
    transition: all 1.1s;
    -moz-transition:  all 1.1s;	/* Firefox 4 */
    -webkit-transition: all 1.1s;	/* Safari 和 Chrome */
    -o-transition: all 1.1s;	/* Opera */
}
.active .t75 { top:85%; margin-top: 60px;opacity: 1;
    transition-delay:  1.2s;
    -moz-transition-delay: 1.2s; /* Firefox 4 */
    -webkit-transition-delay: 1.2s; /* Safari 和 Chrome */
    -o-transition-delay: 1.2s; /* Opera */
}


.section h2 {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 200px;
    height: 3px;
    margin-left: -50%;
    margin-top: 160px;
    text-indent: -9999px;
    background-image: url("../images/line.png");
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}

.section2 h2 { width: 700px;top:30%;margin-top:10px;margin-left: -35%}
.section3 h2 { width: 700px;margin-left: -35%}
.section4 h2 { width: 700px;margin-left: -35%}
.section5 h2 { width: 700px;margin-left: -35%}
.section6 h2 { width: 700px;margin-left: -35%}
.section7 h2 { width: 700px;margin-left: -35%}
.active strong, .active h2 {opacity: 1;-webkit-transform: scale(1, 1);transform: scale(1, 1);transition-delay: 1.1s;}

.section h3 {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 70px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}

.section h1 {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
.active strong, .active h3 { opacity: 1;-webkit-transform: scale(1, 1); transform: scale(1, 1); transition-delay: 0.7s;}
.section2 h3 { width: 561px;top:20%;margin-left: -280px;background-image: url("../images/second/2.png");}
.section3 h3 { width: 561px;margin-left: -200px;background-image: url("../images/third/1.png");}
.section4 h3 { width: 561px;margin-left: -180px;background-image: url("../images/four/1.png");}
.section5 h3 { width: 561px;margin-left: -180px;background-image: url("../images/five/1.png");}
.section6 h3 { width: 561px;margin-left: -250px;background-image: url("../images/six/1.png");}
.section7 h3 { width: 561px;margin-left: -280px;background-image: url("../images/seven/1.png");}

.active strong, .active h1 { opacity: 1;-webkit-transform: scale(1, 1); transform: scale(1, 1); transition-delay: 0.7s;}

.section3 h1 { width: 561px;margin-left: -130px;background-image: url("../images/third/6.png");}
.section4 h1 { width: 561px;margin-left: -130px;background-image: url("../images/four/6.png");}
.section5 h1 { width: 561px;margin-left: -130px;background-image: url("../images/five/6.png");}
.section6 h1 { width: 561px;margin-left: -130px;background-image: url("../images/six/5.png");}

